@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, ui-sans-serif, system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", ui-serif, Georgia, serif;
  }
}
